<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{isoCode|capitalize}}</title>

  <!-- <link rel="stylesheet" type="text/css" href="/static/css/reset.css"> -->
  <link rel="stylesheet" type="text/css" href="/static/css/common.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="/static/js/common.js"></script>
  <script src="/static/js/category.js"></script>

  <script>
    $(document).ready(function () {
      show_top('{{isoCode}}');
    });
  </script>
</head>

<body>
  <h1>{{isoCode}}</h1>

  <div>
    <a href="/">홈으로</a>
  </div>
  <button onclick="show_top('{{isoCode}}')">추천순</button>
  <button onclick="show_new('{{isoCode}}')">최신순</button>

  <div class="posting_box">
    <select name='category_code' id="categoryCode">
      <option value='aa'>World</option>
      <option value='us'>United States</option>
      <option value='kr'>South Korea</option>
    </select>
    <textarea rows="5" placeholder="What's happening?" id="postingBody"></textarea>
    <button onclick="post_article()">저장</button>
  </div>

  <div id="cardBox"></div>
</body>

</html>