<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Server Practice</title>
  
  <!-- <link rel="stylesheet" type="text/css" href="/static/css/reset.css"> -->
  <link rel="stylesheet" type="text/css" href="/static/css/common.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="/static/js/common.js"></script>
  <script>
    $(document).ready(function () {
      show_all_top();
    });

    function show_all_top() {
      // 1. #card_box의 내부 html 태그를 모두 삭제합니다.
      $('#cardBox').empty()

      // 2. 서버에 1) GET 방식으로, 2) /top 라는 주소로 list를 요청합니다.
      $.ajax({
        type: "GET",
        url: "/api/top",
        data: {},
        success: function (response) {
          // 3. 서버가 돌려준 list를 변수에 저장합니다.
          let articles = response['articles_list']
          // 4. for 문을 활용하여 배열의 요소를 차례대로 조회합니다.
          for (let i = 0; i < articles.length; i++) {
            let article = articles[i];

            let objectid = article['_id'];
            let category_code = article['category_code'];
            let time_unix = article['time'];
            let time = dateTimeToFormatted(time_unix);
            let url_title = article['url_title'];
            let url = article['url'];
            let url_img = article['url_img'];
            let post_body = article['post_body'];
            let happy = article['happy'];

            // 6. 카드를 만듭니다.
            if (url == '') {
              card = make_card(category_code, time, post_body, objectid, happy);
            } else {
              card = make_card_url(category_code, time, post_body, url_img, url_title, url, objectid, happy);
            }

            // 7. #cardBox에 temp_html을 붙입니다.
            $('#cardBox').append(card)
          }
        }
      });
    }

    function show_all_new() {
      $('#cardBox').empty()

      $.ajax({
        type: "GET",
        url: "/api/new",
        data: {},
        success: function (response) {
          let articles = response['articles_list']
          for (let i = 0; i < articles.length; i++) {
            let article = articles[i];

            let objectid = article['_id']
            let category_code = article['category_code']
            let time_unix = article['time']
            let time = dateTimeToFormatted(time_unix)
            let url_title = article['url_title']
            let url = article['url']
            let url_img = article['url_img']
            let post_body = article['post_body']
            let happy = article['happy']

            if (url == '') {
              card = make_card(category_code, time, post_body, objectid, happy);
            } else {
              card = make_card_url(category_code, time, post_body, url_img, url_title, url, objectid, happy);
            }

            $('#cardBox').append(card)
          }
        }
      });
    }
  </script>
</head>

<body>
  <h1>Home</h1>

  <div>
    <a href="/us">미국</a>
    <a href="/kr">한국</a>
  </div>
  <button onclick="show_all_top()">추천순</button>
  <button onclick="show_all_new()">최신순</button>

  <div class="posting_box">
    <select name='category_code' id="categoryCode">
      <option value='aa'>World</option>
      <option value='us'>United States</option>
      <option value='kr'>South Korea</option>
    </select>
    <textarea rows="5" placeholder="What's happening?" id="postingBody"></textarea>
    <button onclick="post_article()">저장</button>
  </div>

  <div id="cardBox"></div>
</body>

</html>