<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>United States</title>
  <style>
    .posting-box {
      width: 500px;
      margin: 10px;
      display: flex;
      flex-direction: column;
    }

    #posting-comment {
      padding: 8px;
    }

    #postBtn:disabled {
      background-color: red;
    }

    .card-list {
      width: 500px;
      margin: 10px;
    }

    .card {
      margin-bottom: 15px;
      padding: 12px;
      border: 1px solid gray;
    }

    .thumbnail_image {
      width: 100px;
    }

    .thumbnail_image img {
      width: 100%;
    }
  </style>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <script>
    $(document).ready(function () {
      show_top('us');
    });

    function fn_dateTimeToFormatted(dt) {
      var min = 60 * 1000;
      var c = new Date()
      var d = new Date(dt * 1000);
      var minsAgo = Math.floor((c - d) / (min));

      var result = {
        'raw': d.getFullYear() + '-' + (d.getMonth() + 1 > 9 ? '' : '0') + (d.getMonth() + 1) + '-' + (d.getDate() > 9 ? '' : '0') + d.getDate() + ' ' + (d.getHours() > 9 ? '' : '0') + d.getHours() + ':' + (d.getMinutes() > 9 ? '' : '0') + d.getMinutes() + ':' + (d.getSeconds() > 9 ? '' : '0') + d.getSeconds(),
        'formatted': '',
      };

      if (minsAgo < 60) { // 1시간 내
        result.formatted = minsAgo + '분 전';
      } else if (minsAgo < 60 * 24) { // 하루 내
        result.formatted = Math.floor(minsAgo / 60) + '시간 전';
      } else if (minsAgo < 60 * 24 * 30) { // 하루 이상
        result.formatted = Math.floor(minsAgo / 60 / 24) + '일 전';
      } else if (minsAgo < 60 * 24 * 365) { // 1달 이상
        result.formatted = Math.floor(minsAgo / 60 / 24 / 30) + '달 전';
      } else { // 1년 이상
        result.formatted = Math.floor(minsAgo / 60 / 24 / 365) + '년 전';
      };

      return result.formatted;
    };

    function make_card(nation, time, comment, objectid, like) {
      let temp_html =
        `<div class="card">
          <div>
            <a href="#">${nation}</a>
            <p>${time}</p>
            <p>${comment}</p>
          </div>

          <footer class="card-footer">
            <button onclick="like_star('${objectid}')" id="likeStar">
              좋아요 ${like}
            </button>
            <button onclick="delete_star('${objectid}')">
              삭제
            </button>
          </footer>
        </div>`
      return temp_html;
    }

    function make_card_url(nation, time, comment, url_img, url_title, url, objectid, like) {
      let temp_html =
        `<div class="card">
          <div>
            <a href="#">${nation}</a>
            <p>${time}</p>
            <p>${comment}</p>
          </div>

          <div class="thumbnail_box">
            <figure class="thumbnail_image">
              <img src="${url_img}" alt="thumbnail image"/>
            </figure>
            <a href="${url}" target="_blank">${url_title}</a>
          </div>

          <footer class="card-footer">
            <button onclick="like_star('${objectid}')" id="likeStar">
              좋아요 ${like}
            </button>
            <button onclick="delete_star('${objectid}')">
              삭제
            </button>
          </footer>
        </div>`
      return temp_html;
    }

    function show_top(nation) {
      $('#card-box').empty()

      $.ajax({
        type: "GET",
        url: `/api/${nation}/top`,
        data: {},
        success: function (response) {
          let stars = response['stars_list']
          for (let i = 0; i < stars.length; i++) {
            let star = stars[i];

            let objectid = star['_id']
            let nation = star['nation']
            let time_unix = star['time']
            let time = fn_dateTimeToFormatted(time_unix)
            let url_title = star['url_title']
            let url = star['url']
            let url_img = star['url_img']
            let comment = star['comment']
            let like = star['like']

            if (url == '') {
              card = make_card(nation, time, comment, objectid, like);
            } else {
              card = make_card_url(nation, time, comment, url_img, url_title, url, objectid, like);
            }

            $('#card-box').append(card)
          }
        }
      });
    }

    function show_new(nation) {
      $('#card-box').empty()

      $.ajax({
        type: "GET",
        url: `/api/${nation}/new`,
        data: {},
        success: function (response) {
          let stars = response['stars_list']
          for (let i = 0; i < stars.length; i++) {
            let star = stars[i];

            let objectid = star['_id']
            let nation = star['nation']
            let time_unix = star['time']
            let time = fn_dateTimeToFormatted(time_unix)
            let url_title = star['url_title']
            let url = star['url']
            let url_img = star['url_img']
            let comment = star['comment']
            let like = star['like']

            if (url == '') {
              card = make_card(nation, time, comment, objectid, like);
            } else {
              card = make_card_url(nation, time, comment, url_img, url_title, url, objectid, like);
            }

            $('#card-box').append(card)
          }
        }
      });
    }

    function post() {
      let comment = $('#posting-comment').val();
      let nation = $('#nation').val();

      $.ajax({
        type: "POST",
        url: "/api/add",
        data: {
          'comment_give': comment,
          'nation_give': nation
        },
        success: function (response) {
          if (response['result'] == 'success') {
            alert(response['msg']);
            window.location.reload()
          }
        }
      })
    }

    function like_star(objectid) {
      $.ajax({
        type: "POST",
        url: "/api/like",
        data: { 'objectid_give': objectid },
        success: function (response) {
          if (response['result'] == 'success') {
            alert('좋아요 완료!')
            window.location.reload()
          }
        }
      });
    }

    function delete_star(objectid) {
      $.ajax({
        type: "POST",
        url: "/api/delete",
        data: { 'objectid_give': objectid },
        success: function (response) {
          if (response['result'] == 'success') {
            alert('삭제 완료!')
            window.location.reload()
          }
        }
      });
    }

  </script>
</head>

<body>
  <h1 class="title">United States</h1>

  <button onclick="show_top('us')">추천순</button>
  <button onclick="show_new('us')">최신순</button>
  <div>
    <a href="/">홈으로</a>
  </div>

  <div class="posting-box">
    <select name='nation' id="nation">
      <option value='World'>World</option>
      <option value='United States' selected>United States</option>
      <option value='South Korea'>South Korea</option>
    </select>
    <textarea rows="5" placeholder="Enter comment" id="posting-comment"></textarea>
    <button id="postBtn" onclick="post()">저장</button>
  </div>

  <div class="card-list" id="card-box">
    <div class="card">
      <div>
        <a href="#">${nation}</a>
        <p>${time}</p>
        <p>${comment}</p>
      </div>

      <div class="thumbnail_box">
        <figure class="thumbnail_image">
          <img src="#" alt="thumbnail image" />
        </figure>
        <a href="#" target="_blank">${url_title}</a>
      </div>

      <footer class="card-footer">
        <button onclick="like_star('${objectid}')" id="likeStar">
          좋아요 ${like}
        </button>
        <button onclick="delete_star('${objectid}')">
          삭제
        </button>
      </footer>
    </div>
  </div>
</body>

</html>