<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <title>Document</title>
</head>
<body>
    <article style="width: 600px; margin: 0 auto; text-align: center;">
        <h1>HOMEPAGE</h1>
        <h2 style="background-color: dodgerblue; color: white; border-radius: 20px;">= Subtitle =</h2>
        <img style="width: 100%; border-radius: 20px;" src="{{ url_for('static', filename='rome.jpg') }}"/>
    </article>
</body>
</html>